* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.navbar {
	padding: 1.5em;
	background-color: aquamarine;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.user-info {
	display: flex;

	padding: 1em;
	flex-wrap: wrap;
	justify-content: center;
}

.navbar p {
	cursor: pointer;
}
